<br>
<div class="homeDiv scrollable fixedHeightViewport">
        <ul id="homeCarousel"  rn-carousel rn-carousel-control rn-carousel-indicator rn-carousel-index="slideIndex" rn-carousel-swipe="false" class="my-slider ng-cloak"">
           
            <li ng-repeat="count in getNoOfPages" >
            
               <div class="row-fluid">
		
				<div ui-sortable="sortableOptions" ng-model="homeConfig.homeConfigList">
					<div class="span3 applicationContainer" ng-repeat="applications in homeConfig.homeConfigList | filter: { appadded: 'yes' }:true | startFrom:slideIndex*pageSize | limitTo:pageSize" align="center" >
						<div class="imgcontainer">
							<div class="iconContainer"></div>
							<div class="imghomeicons">
								<div class="{{applications.icon}}" rel="popover" id="{{applications.icon}}" >
									<ng-switch on="applications.expressprocessing">
										<div ng-switch-when="yes">
											<div class="EPContainer" targetDiv="divEP_{{applications.target}}" mvc-showwidget='no'>
												<div class="mvc_bubble_autocomplete mvc_ep_bubble_autocomplete" style="visibility:hidden" id="divEP_{{applications.target}}">
													<div class="mvc_EP_bubble_pointer_icon_border"></div>
													<div class="mvc_EP_bubble_pointer_icon"></div>
													<div class="mvc_expressprocessing_header">{{applications.epheader}}</div>
													<div id="{{applications.target}}_autocompleteContainer" class="mvc_autocomplete_container">	
														<div class="mvc_autocomplete_input_field">
															<div id="EP_FavoriteIcon_{{applications.target}}" ng-click="showEPFavoritesList(applications.target)" class="icoBfavoritesInActive"></div>	
															<input type="text" mvc-auto-complete id="EPAutocomplete_{{applications.target}}" class="mvc_home_EP_autoComplete"/>
														</div>
													</div>
													<div class="EPfavoritelist" id="listallfavorite_{{applications.target}}">
														<div  ng-repeat="tabs in applications.tab_list">
															<div class='favoriteElement' ng-repeat="link in tabs.links | filter: { isFavorite : 'yes' }">
																<a class="favoriteElementLink" ng-click="openUrl(link.url,link.actionName);">{{link.title}}</a>
															</div>
														</div>
													</div>
												</div>
												<div>
													<div class="iconExpressProcessing"  ng-click="showExpProcessingPopup(applications.target); "></div>
												</div>
											</div>
										</div>
									</ng-switch>
									<div ng-click="modifyApp(applications.appname)" class="appContextMenu" id="{{applications.appname}}_deletePopup">
										<ul class="nav nav-pills nav-stacked nomargin">
											<li class="ui-menuitem-link">
												Delete
											</li>
										</ul>
									</div>
									<div mvc-context-menu="showDeletePopup(applications.appname)" mvc-showwidget='no' ng-click="navigate(applications.appurl,applications.target)" class="homeIconContainer"></div>
								</div>
								
							</div>
						</div>
			            <h4>{{applications.title}}</h4>
				    </li>
				</ul>
			</div>
            </li>
        </ul>
 </div>
 
<div>
	<ng-include src="template.personalize" ng-controller="PersonalizeCtrl"></ng-include>
</div>

<div modal="modal.menu" close="closeModal('menu')" options="homeOption">
	
	<div class="modal-header">
		<img title="Home" src="mvc/icons/home/B_Home-blue.png" data-dismiss="modal.menu" ng-click="openUrl('/home')">
    </div>

	<div class="modal-body">

		<div class="tabbable tabs-left">
			
			<ul class="nav nav-tabs dialog">
			    <li ng-repeat="tab in menu" class="{{tab.class}} dialog"><a class="anchor-pointer transparent noborder" data-target="#{{tab.tabid}}" ng-click="isSingleOption(tab.links);" data-toggle="tab"><b>{{tab.text}}</b></a></li>
			</ul>
	
			<div class="tab-content dialog">
				<div ng-repeat="tab in menu" class="tab-pane {{tab.class}}" id="{{tab.tabid}}">
					<div ng-repeat="link in tab.links">
						<p><a class="anchor-pointer" ng-click="openUrl(link.url,link.actionName); closeModal('menu')">{{link.title}}</a> - {{link.text}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
