<div id="exception" class="row innerdiv ">
	<br><br> 
	<span align="center" class="span12 staticdatabar"><b>Error Info</b></span>

	<br><br> 
	<span class="span12"> <b>Exception message:</b> {{exception.message}} <br> <br></span> 
	<span align="center" class="span12 staticdatabar"><b>Exception Stacktrace </b></span>
	<br> <br> <br>
		
	<span class="span12">
	<button type="button" class="btn btn-danger tracebtn collapsed" data-toggle="collapse" data-target="#stackTrace" >Show Details</button>
	<div id="stackTrace" class=" row-fluid collapse">{{exception.stackTrace}}</div>
	</span>
</div>

