<form>
	<div class="gridHeader">
		<span><b>{{gridTitle}}</b></span>
		<i class="iconMaximize  pull-right anchor-pointer" ng-click="openMaximizeGridModal(field.gridId)"></i>
		<span id="exportData" class="pull-right"></span>
		<input class="pull-right" placeholder="Search" type="text" ng-model="filterOptions.filterText" />
	</div>
	<div ng-switch on="gridType">
		<div ng-switch-when="editableGrid" class="gridStyle" ng-grid="editableGridOptions"></div>
        <div ng-switch-when="selectableGrid" class="gridStyle" ng-grid="selectableGridOptions"></div>
        <div ng-switch-when="editAndSelectGrid" class="gridStyle" ng-grid="editAndSelectGridOptions"></div>
        <div ng-switch-default class="gridStyle" ng-grid="gridOptions"></div>
	<!-- <div class="gridStyle" ng-grid="gridOptions"></div> -->
	</div>
</form>

<ng-include src="template.maximizeModalGrid"></ng-include>