
    <div class="header container-fluid" id="header" style="background-image: url('viewer/images/banner/Banner_{{userPersonalBanner}}.png');">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".trheader">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <a  ng-click="openUrl('/home')" class="brand anchor-pointer" ><div class="imglogo"></div><span id="headertext" class="headertext">Dashboard</span></a>
       <div class="trheader nav-collapse collapse">
	       <div class="highlighter pull-right">
	        	<div class="pull-right anchor-pointer"><a ng-click="logout()">{{staticInfo.logout}}</a></div>
	        	<div class="pull-right">&nbsp{{staticInfo.separator}}&nbsp</div>
	        	<div class="pull-right anchor-pointer"><a ng-click="openJITRules()" >{{staticInfo.JITRules}}</a></div>
	        	<!-- 
	        	<div class="pull-right"> | </div>
	        	<div  class="pull-right">
		        	<ul class="trheader pull-right">        	
		        	  <li class="dropdown">
		 				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Themes <b class="caret"></b>&nbsp;
		   				</a>
		   				
		   				<ul class="dropdown-menu">
		   					<li><a href="javascript:updateTheme('csctheme')">CSC Theme</a></li>
		   					<li class="divider"></li>
							<li><a href="javascript:updateTheme('b_simplex')">Simplex</a></li>
							<li><a href="javascript:updateTheme('b_readable')">Readable</a></li>
							<li><a href="javascript:updateTheme('b_cyborg')">Cyborg</a></li>
		 					<li><a href="javascript:updateTheme('b_cerulean')">Cerulean</a></li>
		 					<li><a href="javascript:updateTheme('b_flatly')">Flatly</a></li>
		 					<li><a href="javascript:updateTheme('b_slate')">Slate</a></li>
		 				</ul>
		 				
					  </li>
					</ul>
	        	</div>
	        	 -->
	        	
	        	<div class="pull-right">&nbsp{{staticInfo.separator}}&nbsp</div>
	        	<div class="pull-right anchor-pointer"><a ng-click="openUrl('/home')">{{staticInfo.Home}}</a></div>
	        	<div class="pull-right">&nbsp{{staticInfo.separator}}&nbsp</div>
	        	<div class="pull-right"><span class="welcomeMsgSpan" id="userid">{{staticInfo.greetingText}}  {{user.name}}</span></div>
	        	<br/>
        	</div>
        	<div>
				<ng-include src="template.changeLOCMCO" ng-controller="changeLOCMCOCtrl"></ng-include>
			   	<div class="locMcoContainer" ng-click="openModal('changeLOCMCO');">
		       		<span>{{user.loclist[user.loc]}}</span><br/>
		       		<span>{{user.mcolist[user.mco]}}</span><br/>
				</div> 
			</div>
			<div class="dateContainer">
		       	<span>{{staticInfo.currentdatelabel}}{{staticInfo.currentdate}}</span><br/>
		       	<span>{{staticInfo.overridedatelabel}}{{staticInfo.overridedate}}</span><br/>
			</div> 
      	  </div><!--/.nav-collapse -->
	 </div>