<div class="container-fluid">
	<h2>User Log In</h2>
	<form class="form-signin" ng-submit="submit()">
		<label class="control-label" for="inputUsername">User ID:</label>
		<input type="text" id="inputUsername" class="input-block-level" ng-model="inputUsername"  required autofocus autocorrect="off" autocapitalize="off">
		<label class="control-label" for="inputPassword">Password:</label>
		<input type="password" id="inputPassword" class="input-block-level" ng-model="inputPassword" required>
        <input id="Submit" class="btn btn-primary btn-block" type="submit" value="Log In"></input>
        <a href="#" class="pull-left">Reset Password </a>
        <a href="#" class="pull-right">Need help? </a>
    </form>
</div>
