
<!-- Main form -->
<div class="row innerContainer" ng-init="screenType='nav_screen'">
<div id="staticContent" class="row-fluid"> 
	<div class="staticdatabar ">
		<div ng-repeat="staticDataInfo in staticdatainfoConfig[origScreenId]">
			<div class='span3 staticdatarow'><span class="staticDataLabel">{{staticDataInfo.label}} : </span><span class="staticDataText">{{staticData[staticDataInfo.field]}}</span></div>
		</div>
	</div>
	
	<div class="titlebar">
		<div mvc-toggle-class="imgSideBarTabOpen imgSideBarTabClose" toggletarget="sliderLeft" id="sliderLeft" data-toggle="collapse" data-target="#menuleft" class="imgSideBarTabOpen" ></div>
		<span id="title">{{title}}</span> 
		<div mvc-toggle-class="imgSideBarTabOpen imgSideBarTabClose" toggletarget="sliderRight" id="sliderRight" data-toggle="collapse" data-target="#menuright" class="imgSideBarTabOpen" ></div>
		<div ng-click="toggleFontSize()" mvc-toggle-class="resizerFontUp resizerFontDown" toggletarget="divFontResizer" id="divFontResizer" class=" fontResizer resizerFontUp" ></div>
	</div>
</div>
	<div>
		<div id="menuleft" class="menu nav-collapse width collapse in" >
			<ng-include src="template.navigationBar"></ng-include>
		</div>
		<div id="menuright" class="menu nav-collapse width collapse" >
			<ng-include src="template.activityBar"></ng-include> 
		</div>
		<!-- <div id="sliderRight" class="slideRight" ></div>
		<div id="sliderLeft" class="slideLeft" ></div> -->
		
		<div id="maincontent" class="view">		
				<div class="mainContainer fixedHeightViewport">
				<div id="subheader" class="subheader">					
					<span>{{metadata.title}}</span><div><div class="ico-previous pull-right anchor-pointer" title="Back" ng-click="displayLastView()" ng-show="showPreviousButton"/>					
					<i class="pull-right icon-cogs icon-large iconCanvas" title="Design screen {{metadata.title}} in Canvas" ng-click="designPage()"></i>
					<div ng-repeat="action in actions | orderBy:'name':reverse=true">
						<div ng-switch on="action.name">
							<div ng-switch-when="Delete">
								<div class="ico-delete pull-right anchor-pointer" title="Delete" ng-click="displayPage(action)"/>
							</div>
							<div ng-switch-when="Change">
								<div class="ico-change pull-right anchor-pointer" title="Change" ng-click="displayPage(action)"/>
							</div>
							<div ng-switch-when="Inquire">
								<div class="ico-inquire pull-right anchor-pointer" title="Inquire" ng-click="displayPage(action)"/>
							</div>
						</div>
					</div>
					</div>
				</div>
				<div><ul id="home" mvc-breadcrumbs ng-show="showPreviousButton"></ul></div>
					
				<ng-include src="template.form"></ng-include>
			</div>
		</div>
	</div>
</div>

<div id="mvcgridactions" class="mvc_bubble_autocomplete" mvc-showwidget="no" >
		<div class="mvc_EP_bubble_pointer_icon_border"></div>
		<div class="mvc_EP_bubble_pointer_icon"></div>
		<div id="mvcpopupHeader" class="mvc_expressprocessing_header">Actions</div>
		<div id="mvcpopupContent">
			<ul>
				<li class="anchor-pointer" ng-repeat="activity in gridactions"  ng-click="callGridAction('{{rowActionfunction}}', this)"> <a href=""> {{activity.name}} </a></li>
			</ul>	
	 </div>
</div>
<div id="actionsContextMenu" class="mvc_bubble_autocomplete" mvc-showwidget="no"  >
		<div class="mvc_EP_bubble_pointer_icon_border"></div>
		<div class="mvc_EP_bubble_pointer_icon"></div>
		<div id="mvcpopupHeader" class="mvc_expressprocessing_header">Activity</div>
		<div id="mvcpopupContent">
		<ul>
			<li ng-repeat="action in actions">
					<a class="anchor-pointer"  ng-click="displayPage(action,'','','actionsContextMenu');" >{{action.name}}</a>
			</li>
		</ul>	
	 </div>
</div>

<div id="modalScreen" ng-controller='ScreenCtrl'>
	<ng-include  src="template.modalScreen" ></ng-include>
</div>
