<div class="well  fixedHeightViewport sidebarLeft span2">
	<div id="staticContentLeft">
		<a class="nav-header anchor-pointer" data-toggle="collapse" data-target="#pageNavigation" mvc-toggle-class="imgExpand imgCollapse" toggletarget="sideExpanderRight">
 			<div id="sideExpanderRight"  class="imgCollapse" ></div>
 			<div>Page Navigation</div>
		</a>
		<div class = "row-fluid">
			<select class="span12" ng-model="activityKey" ng-change="performActivity(this)" placeholder="Activity">
				<option ng-repeat="activity in activityList" value="{{activity.key}}">{{activity.name}}</option>
			</select>
		</div>	
		<div class = "row-fluid"><input class="span12" type="text" placeholder="Search" ng-model="filter.searchScreen"></div>
	</div>
	<div id="navigationlinkList" class="scrollable">
		<div id="pageNavigation" class="collapse in">
			<ul class="nav nav-tabs nav-stacked">
				<div class="accordion" id="accordion2">
					<div class="accordion-group">
						<div ng-repeat="screen in screens | filter:filter.searchScreen">
							<ul class="nav nav-tabs nav-stacked" style="margin-bottom:0px" >
								<li>
									<a class="navTabs anchor-pointer" ng-click="displayNavigationAction(screen,true,'updBC'); showMenubar('right');" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" data-target="#{{screen.id}}">
										<div class="pull-right ico-{{screen.status.toLowerCase()}}" title="{{screen.status}}"></div> 
										{{screen.title}}
									</a>
								</li>
							</ul>
							<div ng-show="screen.childLinks.length">
								<div id="{{screen.id}}" class="accordion-body collapse anchor-pointer">
									<div class="accordion-inner">
										<div ng-repeat="c in screen.childLinks">
											<a ng-click="displayNavigationAction(c,true,'updBC'); toggleSidebar('Right','show')">{{c.title}}</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
