/* app css stylesheet */

body {
  padding-top: 20px;
  font: 10px sans-serif;
}

.fieldset {
    background-color: #eaeaea;
}

.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
