<div id=paramNames>

	<h5>Type:</h5>
	<select id="type">
		<option>Bar</option>
		<option>Histogram</option>
		<option>Pie</option>
	</select>

	<h5>Vendor:</h5>
	<select id="vendor">
		<option>Brijesh</option>
		<option>Dinesh</option>
		<option>Rajiv</option>
		<option>Sameer</option>
	</select>

	<h5>Total Sales By:</h5>
	<select id="by">
		<option>Customer</option>
		<option>Product</option>
	</select>
	
	<!-- 
	<h5>Total:</h5>
	<select id="total">
		<option>Qty</option>
		<option>Value</option>
	</select>

	-->
</div>