<form>

	Data Source :
	<!--  -->
	<select id="exec" ng-model="dashboard.datasource">
		<option></option>
		<option>Brijash</option>
		<option>Dinesh</option>
		<option>Rajiv</option>
		<option>Sameer</option>
	</select>
	<!--  -->
	<input type="button" value="Extract" ng-click="doExtract()">

</form>

<table class="table">
	<tr>
		<th ng-repeat="header in dashboard.headers">{{header}}</th>
	</tr>
	<tr>
		<td ng-repeat="value in dashboard.data[0]">{{value}}</td>
	</tr>
</table>